body {

}

input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 15px;
}

.my-bar {
    list-style: none;
    text-decoration: none;
    overflow-y: auto;
    background-color: #dd4814;
    overflow-x: hidden;
    padding:15px 5px 15px 10px;
}

.my-bar > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
}



.my-bar li a:hover,
.my-bar li a:focus {

    color: #fff;
    background-color: #97310e !important;
}

.my-bar > li > ul {
    list-style: none;
    
}

.my-bar > li > ul > li > a {
    display: block;
    padding: 5px 0px 5px 0px;
    color: #fff;
    text-decoration: none;
}

.my-bar > li > ul > li > a:hover {
    background-color: #97310e !important;
    color: #fff;
}

    .my-bar > li.active {
        background-color: #ff6a00 !important;
    }

.fixedLengthElement {
    text-overflow :clip;
    white-space: nowrap;
    overflow: hidden;
}

.table .iconInTile {
    font-size: 1.2em;
}
.negativeNumber{
    color:red;
}
/*.TransactionsPanel{
    display:inline-block;
    width:100%;
}

.TranTile {
    width: 33%;
    background-color: burlywood;
    float:left;
}*/
.my-bar .iconInTile {
    font-size: 2em;
}
.clearfix {
    clear: both
}

@media(min-width:768px) {
    .navbar-brand-short {
        display: none;
    }
    .use-big-fonts {
        font-size: 1.5em !important;
    }
}

@media(max-width:768px) {
    .navbar-brand-full {
        display: none;
    }
    .use-big-fonts {
        font-size: 1em !important;
    }
    .my-bar{
       
    }
}