body {

}

.selectdd{
    text-align:left;
    max-width: 280px;
    width:100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.transactionFilters{
    margin-bottom:10px;
}
input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 15px;
}

.my-bar {
    list-style: none;
    text-decoration: none;
    overflow-y: auto;
    background-color: #2FA4E7;
    overflow-x: hidden;
    padding:15px 5px 15px 10px;
}

.my-bar > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
}



.my-bar li a:hover,
.my-bar li a:focus {

    color: #fff;
    background-color: #175589 !important;
}

.my-bar > li > ul {
    list-style: none;
    
}

.my-bar > li.active {
    background-color: #277fc8 !important;
}

.my-bar .iconInTile {
    font-size: 2em;
}

.fixedLengthElement {
    text-overflow :clip;
    white-space: nowrap;
    overflow: hidden;
}
.transTable{
    cursor:pointer;
}

.transTable .iconInTile {
    font-size: 1.2em;
}
.negativeNumber{
    color:red;
}

.clearfix {
    clear: both
}

@media(min-width:768px) {
    .navbar-brand-short {
        display: none;
    }
    .use-big-fonts {
        font-size: 1.5em !important;
    }
}

@media(max-width:768px) {
    .navbar-brand-full {
        display: none;
    }
    .use-big-fonts {
        font-size: 1em !important;
    }
    .my-bar{
       
    }
}