body {

}

input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 15px;
}

.my-bar {
    list-style: none;
    text-decoration: none;
    overflow-y: auto;
    background-color: #dd4814;
    overflow-x: hidden;
    padding:15px 5px 15px 10px;
}

    .my-bar > li > a {
        text-decoration: none;
        color: #fff;
    }

.my-bar li a:hover,
.my-bar li a:focus {
    outline: none;
    color: #fff;
    background-color: #97310e !important;
}

.my-bar > li > ul {
    list-style: none;
    
}

.my-bar > li > ul > li > a {
    display: block;
    padding: 5px 0px 5px 0px;
    color: #fff;
    text-decoration: none;
}

.my-bar > li > ul > li > a:hover {
    background-color: #97310e !important;
    color: #fff;
}

@media(min-width:768px) {
    .navbar-brand-short {
        display: none;
    }
    .use-big-fonts {
        font-size: 1.5em !important;
    }
}

@media(max-width:768px) {
    .navbar-brand-full {
        display: none;
    }
    .use-big-fonts {
        font-size: 1em !important;
    }
    .my-bar{
       
    }
}