@{
    ViewBag.Title = "Confirm Email";
}
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
