@{
    ViewBag.Title = "Login Failure";
}
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <hgroup>
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </hgroup>
    </div>
</div>
