@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
