@{
    ViewBag.Title = IdentityText.ResetPasswordConfirmation;
}
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div>
            <p>
                @IdentityText.YourPasswordHasBeenResetPlease @Html.ActionLink(IdentityText.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
