@{
    ViewBag.Title = "Personal Money Tracker";
}
<h2>@ViewBag.Title.</h2>

<p>This application is for demonstration purpose only and it should not be used in production environment or for storing personal/private data.</p>

<p>
    Personal Money Tracker provided by Pantelis Ioannidis is for illustrative purposes only for interested users or potential employers. 
    This software is supplied "AS IS" without any warranties and support.
    Pantelis Ioannidis assumes no responsibility or liability for the use of the software, conveys no license or title under any patent, copyright, or mask work right to the product.
    Pantelis Ioannidis reserves the right to make changes in the software without notification.
</p>
