@{
    ViewBag.Title = "Personal Money Tracker";
}
<h2>@ViewBag.Title.</h2>
<p>
    Αυτή η εφαρμογή έχει σκοπό αποκλειστικά την επίδειξη και δεν πρέπει να χρησιμοποιηθεί σε παραγωγικό περιβάλλον ή για αποθήκευση προσωπικών δεδομένων.
</p>
<p>
    Το Personal Money Tracker από τον Ιωαννίδη Παντελή είναι αποκλειστικά για επίδειξη προς τους ενδιαφερόμενους χρήστες ή υποψήφιους εργοδότες. Η εφαρμογή παρέχεται "ΟΠΩΣ ΕΙΝΑΙ" χωρίς εγγυήσεις και υποστήριξη.

    Ο Ιωαννίδης παντελής δεν έχει καμία υποχρέωση η ευθύνη σχετικά με την χρήση της εφαρμογής. Δεν μεταβιβάζει καμία άδεια ή τίτλο βάσει κάποιου διπλώματος ευρεσιτεχνίας, πνευματικών δικαιωμάτων ή μάσκας δικαίωμα εργασίας στο προϊόν.

    Ο Ιωαννίδης παντελής διατηρεί το δικαίωμα να κάνει αλλαγές στο λογισμικό χωρίς ειδοποίηση.
</p>