@model PMT.Models.TransactionFilterVM
@{
    ViewBag.Title = "Quick view";
}

@Html.Partial("_TransactionsFiltersPartial", Model)

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Income vs Expense</div>
            <div class="panel-body">
                
                <canvas id="incomeVsExpenseChart" width="600" height="200"></canvas>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Income by Category</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Expense by Category</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            homeCharts.setIncomeVsExpenseChartData(@Html.Raw(Json.Encode(ViewBag.ChartIncomeVsExpense)));
            pmt.onDocumentLoadHome();
            
        });
    </script>
}