@model PMT.Models.TransactionFilterVM
@{
    ViewBag.Title = "Quick view";
}

@Html.Partial("_TransactionsFiltersPartial",Model)

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Income vs Expense</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Income by Category</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary use-big-fonts">
            <div class="panel-heading">Expense by Category</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            pmt.onDocumentLoadHome();
        });
    </script>
}